.products{
    display: flex;
    flex-direction: column;
}

.product {
    margin: 10px;
    padding: 10px;
    
    background: #7F7FD5;
    background: -webkit-linear-gradient(to top, #91EAE4, #86A8E7, #7F7FD5);
    background: linear-gradient(to top, #91EAE4, #86A8E7, #7F7FD5);
    }
    .product-card {
        border: 1px solid #ddd;
        border-radius: 4px;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
        padding: 16px;
        width: 300px;
        
        .image {
        margin-bottom: 16px;
      
        img {
            max-width: 100%;
        }
        }
    
        .title {
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 8px;
        }
    
        .description {
            margin-bottom: 8px;
        }
    
        .price {
            font-size: 16px;
            font-weight: 500;
            color: #007bff;
        }
    
        .add-to-cart-button {
            background-color: #007bff;
            border: none;
            border-radius: 4px;
            color: #fff;
            cursor: pointer;
            font-size: 16px;
            font-weight: 600;
            padding: 8px 16px;
            transition: background-color 0.2s ease-in-out;
        
        &:hover {
            background-color: #0056b3;
        }
        }
    }
    